{% extends "base.html" %} {% block styles %}
<link rel="stylesheet" href="/static/css/table.css" />
<link rel="stylesheet" href="/static/css/components/refresh.css" />
{% endblock styles %} {% block content %}
<div class="refresh-container">
    <button id="refreshButton">Refresh Data</button>
    <span id="lastUpdate">Last updated: {{ last_update }}</span>
</div>
<div
    id="releases-container"
    data-releases="{{ releases }}"
    data-csrf-token="{{ csrf_token }}"
></div>
{% endblock content %}

<!-- Pass server-side variables to JavaScript -->
<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
